/* Scrolling */
html {
  scroll-behavior: smooth;
}

/* Default */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Michroma", sans-serif;
  text-decoration: none;
  list-style: none;
}
